
<!-- <style
  >
  body {
    font-family: Arial;
  }
  .containerr {
    display: grid;
    /* grid-template-columns: 25% 25% 25% 25%; */
    /* grid-template-rows: 215% ; */
    /* grid-template:  1fr 1fr 1fr 1fr 1fr 1fr  / 1fr 1fr 1fr; */
    grid-template: 100px 1fr 150px/ 200px 1fr;
    /* grid-column-gap: 30px; */
    /* grid-row-gap: 30px; */
    /* grid-gap: filas columnas; */ 
    grid-gap: 15px;
    height: 100vh;
    grid-template-areas: "header header"
                           "left contenido"
                           "footer footer";
  }
  .item{
    background: rgb(14, 124, 197);
    padding: 10px;
    border: 1px solid blue;
   
  }
  .item:nth-of-type(4){
    background: burlywood;
    overflow: auto;
    display:grid;
    grid-template: 50px 50px 50px / 200px 200px 200px;

  }
  .item .item{
    background: chocolate;
  }
  .header {
      grid-area: header;
    }
    .left {
      grid-area: left;
    }
    .contenido {
      grid-area: contenido;
    }
    .footer {
      grid-area: footer;

    }
        <div class="item">contenido #1</div> NO TOCAR
       <div class="item">contenido #2</div>
       <div class="item">contenido #3</div>
       <div class="item">
        <div class="item">subitem #1</div>
        <div class="item">subitem #2</div>
        <div class="item">subitem #3</div>
        <div class="item">subitem #4</div>
        <div class="item">subitem #5</div>
        <div class="item">subitem #6</div>
       </div>
       <div class="item">contenido #5</div>
       <div class="item">contenido #6</div>
       <div class="item">contenido #7</div>
       <div class="item">contenido #8</div>
       <div class="item">contenido #9</div>
       <div class="item">contenido #10</div>
       <div class="item">contenido #11</div>
       <div class="item">contenido #12</div> 
</style> -->

<div class="content-wrapper ">
  <!-- <section class="containerr"> -->
  <section class="content container-fluid">
  
  <h4>
    <h1>Master Cage</h1>
      <div>
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              <span class="info-box-icon bg-lime">
                <i class="fa fa-money">
                </i>
              </span>
              <div class="info-box-content">
                <span class="info-box-text">Balance</span>
                <span class="info-box-number">
                  {{Masterc2.balance/100 |  currency}}
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              <span class="info-box-icon bg-lime">
                <i class="fa fa-money">
                </i>
              </span>
              <div class="info-box-content">
                <span class="info-box-text">Balance Available</span>
                <span class="info-box-number">
                  {{Masterc2.available_balance/100 |  currency}}
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              <span class="info-box-icon bg-lime">
                <i class="fa fa-money">
                </i>
              </span>
              <div class="info-box-content">
                <span class="info-box-text">Transactions Count</span>
                <span class="info-box-number">
                  {{Mastercount.count}}
                </span>
              </div>
            </div>
          </div>

        </div>
                            

        <h1>last 100 transactions</h1>


                                    <table datatable  [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="row-border hover tables">
                                
                                    <ng-container *ngIf="Masterc?.length != 0">
                                    <thead>
                                        <tr>
                                            <th>Usuario</th>
                                            <th>Tipo</th>
                                            <th>Subtipo</th>
                                            <th>Tipo de moneda</th>
                                            <th>Monto</th>
                                            <th>Estado</th>
                                            <th>Balance</th>
                                            <th>Descripcion</th>

                                        </tr>
                                    </thead>

                                    <tbody >
                                        <ng-container *ngFor="let trans of Masterc ">
                                        <tr>
                                            <td>
                                            <em *ngIf="trans.user" class="reset"> {{trans.user.email}} </em>
                                            </td>
                                            <td>{{trans.tx_type}}</td>
                                            <td>{{trans.subtype}}</td>
                                            <td >{{trans.currency.code}}  </td>
                                            <td>{{trans.amount /100 |  currency}}</td>
                                            <td>{{trans.status}}</td>
                                            <td>{{trans.balance  /100 |  currency}}</td>
                                            <td>{{trans.updated  | date  :'medium' }}</td>

                                        </tr>
                                    </ng-container>

                                    </tbody>
                                  </ng-container>
                                    <tbody *ngIf="Masterc?.length == 0">
                                        <tr>
                                        <td colspan="5" class="Loading"></td>
                                        <img src="../../../assets/images/loading.gif">
                                        </tr>
                                    <tbody>
                                    </table>

      </div>
    </h4>
      </section>

  </div>
