<body class="skin-blue fixed sidebar-mini sidebar-mini-expand-feature" style="height: auto; min-height: 100%;">
<div class="content-wrapper ">

  <section class="content container-fluid">
<div  class="panel panel-flat">
  <div class="panel-heading">







      <h6 class="panel-title">Planilla</h6>
  </div>
  <div class="panel-heading"> 
  <table  datatable  [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" dt-instance="dtInstance" class="row-border hover tables ">
    
      <thead>
        <tr>
          <th>Email</th>
          <th>Username</th>
          <th>Name</th>
          <th>Last_Name</th>
          <th>Cuenta</th>
          <th>Balance $</th>
          <th>Ultimo ingreso</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of Usuarios"  >
          <td (click)=funcionclick(usuario) class= "cursorr">{{usuario.email}}</td>
          <td>{{usuario.username | uppercase}}</td>
          <td>{{usuario.first_name}}</td>
          <td>{{usuario.last_name}}</td>
          <td>{{usuario.account}}</td>
          <td>{{usuario.balance/100 | currency}}</td>
         
          <td>{{usuario.last_login  | date  :'medium'}}</td>
      </tr>
      </tbody>
  </table>
  </div>
</div>
</section>
</div>
</body>
