
<div class="content-wrapper content-height">
    <section class="content container-fluid">
          <h1> Usuarios: </h1>
       <h4>
          <div>
 
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" >
         
            <ng-container *ngIf="Usuarios?.length != 0">
            <thead>

                <tr>
                    <th>Email</th>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Last_Name</th>
                    <th>Cuenta</th>
                    <th>Balance $</th>
                    <th>Ultimo ingreso</th>
                </tr>
            </thead>         
            <tbody>
              <tr *ngFor="let usuario of Usuarios" >
                  
                  <td (click)=funcionclick(usuario.account) data-target="#exampleModal" data-toggle="modal" data-whatever="@getbootstrap">{{usuario.email}} 
                  
                  </td>
                  <td (click)=funcionclick(usuario.account)>{{usuario.username | uppercase}}</td>
                  <td>{{usuario.first_name}}</td>
                  <td>{{usuario.last_name}}</td>
                  <td>{{usuario.account}}</td>
                  <td>{{usuario.balance/100 | currency}}</td>
                 
                  <td>{{usuario.last_login  | date  :'medium'}}</td>
              </tr>
            </tbody>
            </ng-container>
            <tbody *ngIf="Usuarios?.length == 0">
              <tr>
                <td colspan="10" class="no-data-available"></td>
                <img src="../../../assets/images/loading.gif">
              </tr>
            </tbody>
  
           
          </table>
        </div>
      </h4> 

   
<!-- MODAL -->
      
  <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Modal</button> -->
  
  <div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!--  -->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="exampleModalLabel">Usuario</h4>
        </div>
        <!--  -->
        <div class="modal-body">
          <form>
            <div class="form-group">
        El balance es: 
        {{AccountEndpoint.balance}}
              
            </div>
          </form>
        </div>
        <!--  -->
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         
        </div>
      </div>
    </div>
  </div>

    </section>
  </div>




  <script>
    $('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  //var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  //var modal = $(this)
  //modal.find('.modal-title').text('New message to ' + recipient)
  // modal.find('.modal-body input').val(recipient)
})
  </script>