<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper content-height">
    <!-- Content Header (Page header) -->
    <!--<section class="content-header">
        <small></small>
      <ol cla ss="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Here</li>
      </ol>
    </section>-->

    <!-- Main content -->

  <section class="content container-fluid">
      <div>
        <h4>
              <!--------------------------
                | Your Page Content Here |
                -------------------------->
                <h1>Transacciones</h1>

                  <p>Example of the range selection</p>

                  <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">
                  </ngb-datepicker>

                  <ng-template #t let-date let-focused="focused">
                    <span class="custom-day"
                          [class.focused]="focused"
                          [class.range]="isRange(date)"
                          [class.faded]="isHovered(date) || isInside(date)"
                          (mouseenter)="hoveredDate = date"
                          (mouseleave)="hoveredDate = null">
                      {{ date.day }}
                    </span>
                  </ng-template>

                  <hr>

                  <pre>From: {{ fromDate | json }} </pre>
                  <pre>To: {{ toDate | json }} </pre>

                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                  <!--Table head-->
                  <ng-container *ngIf="Transa?.length != 0">
                  <thead>

                      <tr>
                          <th>Monto</th>
                          <th>Total Monto</th>
                          <th>Balance</th>
                          <th>Nombre</th>
                          <th>Estado</th>
                          <th>Cuenta</th>

                      </tr>
                  </thead>

                  <tbody >
                    <ng-container *ngFor="let trans of Transa ">
                    <tr>
                        <td>{{trans.amount}}</td>
                        <td>{{trans.total_amount}}</td>
                        <td>{{trans.balance}}</td>
                        <td >
                          <em *ngIf="trans.user" class="reset"> {{trans.user.username}} </em>
                        </td>
                        <td>{{trans.status}}</td>
                        <td>{{trans.account}}</td>

                    </tr>
                  </ng-container>

                  </tbody>
                  </ng-container>
                  <tbody *ngIf="Transa?.length == 0">
                    <tr>
                      <p>

                      <td colspan="5" class="no-data-available"></td>

                      <img src="../../../assets/images/loading.gif">
                      </p>
                    </tr>
                  </tbody>

                </table>
        </h4>
      </div>




  </section>
    <!-- /.content -->
</div>
  <!-- /.content-wrapper -->
