/* You can add global styles to this file, and also import other style files */

.reset{
    padding: 0;
    margin: 0;
    font-style: normal;
}
.loading{
    margin: center;

}
.content-height {
    height: 100vh;
}
.modalstyle{
    background-color: green($color: #000000);;
}